.content-only:not(.tabs-box)>.container-wrapper {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.stream-item {
  img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
}

// AdsTwo

.tie-slick-slider {
  overflow: hidden;
}

.slide-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center top;
  transition: opacity 0.5s;
  opacity: 0;
}

.tie-slider-widget .slide {
  margin: 0;
  height: 220px;
}

.slide {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  img {
    opacity: 70%;
  }
}

.slick-slide img {
  width: 100%;
}

@mixin slick-sliderC {
  opacity: 60% !important;
  width: 25px !important;
  height: 55px !important;
  background: black !important;

}

.slick-next {
  @include slick-sliderC;
  right: 0px !important;
}

.slick-prev {

  @include slick-sliderC;
  left: 0px !important;
  z-index: 1;
}

.thumb-meta {
  color: #ccc;
  margin-bottom: 0px;
}