.all-over-thumb-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
}

.section-item {
  position: relative;
  padding: 30px 0 0;
  clear: both;

  a {
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.post-thumb {
  position: relative;
  height: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  transition: opacity 0.2s;
}

.show-more-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  line-height: 50px;
  position: relative;
  text-align: center;
  display: block;
  font-weight: 600;
  cursor: pointer;
  clear: both;
  color: #fff;

}

.mag-box-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 0;
}

.grid-6-slides {
  min-height: 180px;

  .slide {
    height: auto;
  }

  .grid-item {
    float: left;

    &:nth-child(n) {
      height: 180px;
      width: 33.1%;
      width: calc(33.1% - 3px);
    }

    @media (max-width: 600px) {
      &:nth-child(odd) {
        width: calc(50% - 4px);
        margin-right: 4px;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }
    }

    @media (max-width: 600px) {
      &:nth-child(even) {
        width: 50%;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        margin-right: 0;
        clear: none;
      }
    }

    @media (max-width: 600px) {
      &:nth-child(odd):last-child {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.boxed-slider {
  height: auto;

  .slide {
    margin: 0 15px;
  }

  .slick-list {
    width: 100%;
    width: calc(100% + 30px);
    margin: 0 -15px;
    overflow: inherit;

    a,
    &:focus {
      outline: none;
    }
  }

  .tie-slick-slider {
    overflow: hidden;
  }
}

.main-slider {
  position: relative;
  z-index: 3;

  .thumb-meta {
    color: #ffffff;
  }

  .slick-list {
    width: 100%;
  }
}

.tie-slider-nav {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -23px;
  transition: opacity;

  @media (min-width: 992px) {
    opacity: 0;
  }
}

.grid-slider-wrapper {

  .thumb-title {
    font-size: 20px;
  }

  .thumb-overlay,
  .thumb-content {
    padding: 20px;
  }

  .grid-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &:nth-child(1) {
      float: left;
      // width: 50%;
      height: 100%;
    }

    &:nth-child(n + 2) {
      float: left;
      height: 50%;
    }

    &:nth-child(2),
    &:nth-child(3) {
      margin-bottom: 4px;
    }
  }

  .slick-list {
    width: 100%;
    margin: 0;
  }

  .slide {
    margin: 0;
    // height: 500px;
  }
}

@media (max-width: 991px) {

  .sidebar .container-wrapper,
  .sidebar .tie-weather-widget {
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .full-width .grid-6-slides .grid-item:nth-child(n) {
    height: 190px;
  }
}

@media (min-width: 992px) {
  .full-width .grid-6-slides .grid-item:nth-child(n) {
    height: 225px;
  }
}

.grid-6-slides .slide {
  height: auto;
}

@media (max-width: 767px) {

  .grid-slider-wrapper .tie-slider-nav,
  .boxed-slider-three-slides-wrapper .tie-slider-nav,
  .boxed-five-slides-slider .tie-slider-nav,
  .boxed-four-taller-slider .tie-slider-nav {
    display: none;
  }
}

.grid-slider-wrapper .thumb-overlay,
.first-post-gradient li:first-child .post-thumb,
.scroll-2-box .post-thumb {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.thumb-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 30px;
  border-radius: 2px;

  .post-meta,
  .thumb-title a {
    color: #ffffff !important;

    &:hover {
      text-decoration: none;
    }
  }

  .thumb-title {
    color: #ffffff;
  }

  .thumb-meta {
    margin: 0 0 5px;
  }

  .thumb-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 30px 20px;
    z-index: 3;
    width: 100%;
    pointer-events: none;
    transition: bottom 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .thumb-desc {
    color: #ffffff;
    max-height: 0;
    line-height: 18px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
  }
}

.slick-list a,
.slick-list:focus {
  outline: none;
}

@media (min-width: 992px) {

  .main-slider:not(.grid-slider-wrapper) .slide:hover .thumb-desc,
  .slide .grid-item:hover .thumb-desc,
  .media-page-layout .post-element:hover .thumb-desc,
  .boxed-slider-wrapper .tie-slick-slider:hover .thumb-desc {
    opacity: 1;
    max-height: 100px;
    margin-top: 5px;
    transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
  }
}

.grid-6-slides .grid-item:nth-child(3),
.grid-6-slides .grid-item:nth-child(6) {
  width: calc(33.337% - 2.5px);
  margin-right: 0;
}

@media (max-width: 960px) {
  .post-widget-body {
    /* padding-left: 125px; */
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .grid-6-slides {
    min-height: 100px;
  }
}

.slider-area {
  position: relative;
  overflow: hidden;

  .tie-media-icon,
  .post-cat-wrap,
  .post-rating,
  .digital-rating {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .tie-media-icon {
    position: relative;
    float: right;
    margin: -9px -5px 0 10px;
    height: 40px;
    width: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    z-index: 8;
    pointer-events: none;
  }

  .post-cat-wrap {
    float: left;
  }
}

@media (max-width: 600px) {

  .full-width .grid-6-slides .grid-item:nth-child(n) {
    height: 135px;
  }
}

@media (max-width:900px) {
  .main-slider .thumb-meta {
    font-size: 10px;
  }
}

@media (max-width:1150px) {
  .main-slider .thumb-title {
    font-size: 16px;
  }
}

@media (max-width:800px) {
  .main-slider .thumb-title {
    font-size: 12px;
  }
}

@media (max-width:896px) {
  .thumb-overlay .thumb-content {
    padding: 0 20px 0px 10px;
  }
}

@media (max-width: 670px) {
  .posts-items li {
    width: 100% !important;
  }
}

// -------------------------------------------------------------------

.all-over-thumb-link {
  .thumb-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    border-radius: 2px;

    .thumb-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 30px 20px;
      z-index: 3;
      width: 100%;
      pointer-events: none;
      transition: bottom 0.3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      @media (min-width: 768px) {
        h2 {
          font-size: 18px;

          a {
            color: #fff;
          }
        }
      }

      .thumb-meta {
        color: #fff;
      }

      .thumb-desc {
        color: #ffffff;
        max-height: 0;
        line-height: 18px;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
      }
    }

    .tie-media-icon {
      position: relative;
      float: right;
      margin: -9px -5px 0 10px;
      height: 40px;
      width: 40px;
      color: #ffffff;
      text-align: center;
      font-size: 32px;
      line-height: 32px;
      z-index: 8;
    }

    .post-cat-wrap {
      position: relative;
      z-index: 3;
      pointer-events: auto;
      margin-bottom: 5px;
      font-weight: normal;
      font-family: inherit !important;
      line-height: 0;
      display: block;

      .post-cat {
        display: inline-block;
        background: #08f;
        color: #fff;
        padding: 0 6px;
        font-size: 12px;
        line-height: 1.85em;
        margin-right: 4px;
        position: relative;
        white-space: nowrap;
        word-wrap: normal;
        letter-spacing: 0;
        transition: 0.3s;
        border-radius: 2px;

        &:hover {
          text-decoration: none;
          background: #006dcc;
          color: #fff;
        }
      }
    }

    &:hover .thumb-desc {
      opacity: 1;
      max-height: 100px;
      margin-top: 5px;
      transition: opacity 0.4s ease-out, max-height 0.9s ease-out;
    }
  }
}

// -------------------------------------------------------------------------------------------------------

// cardTwo - video

.main-content {
  width: 100%;
  overflow: hidden;
}

.video-playlist-wrapper {
  background-color: #18191c;
  position: relative;
  width: 66%;
  height: 434px;
  float: left;

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
  }

  iframe {
    height: 434px;
    width: 100%;

    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.video-player-wrapper {
  position: relative;
  z-index: 2;

  @media (max-width: 767px) {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .video-playlist-nav-wrapper,
  .video-playlist-wrapper,
  .video-playlist-wrapper iframe {
    height: 475px;
  }
}

//Card - listVido-------------------------------------------------------

.video-playlist-nav-wrapper {
  width: 34%;
  float: right;
  height: 434px;
  overflow: hidden;
  background: #1a1b1f;
  position: relative;
  border-width: 0 1px 1px 0;

  @media (max-width: 767px) {
    height: auto !important;
    width: 100%;
  }

  .playlist-title {
    background: #131416;
    color: #fff;
    height: 70px;
    width: 100%;
    padding: 0 15px;
    line-height: 17px;
    z-index: 9;

    h2 {
      padding-top: 14px;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .playlist-title-icon {
      font-size: 35px;
      float: left;
      margin-right: 10px;
      height: 70px;
      line-height: 70px;
      width: 40px;
      text-align: center;
      font-weight: bold;
    }

    .videos-number {
      font-size: 11px;
      display: block;
      float: left;
    }
  }

  .side-aside,
  .has-custom-scroll {
    overflow-x: hidden;

    &::-webkit-scrollbar-thumb {
      background: #000;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .playlist-has-title {
    height: 364px;

    @media (max-width: 767px) {
      height: 244px !important;
    }

    .video-thumbnail {
      width: 75px;
      height: 42px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      float: left;
    }

    .video-info {
      padding-left: 105px;
    }

    .video-duration {
      float: left;
      font-size: 11px;
      color: #767676;
      margin-top: 3px;
      line-height: 1;
    }
  }

  .video-playlist-nav {
    position: relative;
    height: 434px;
    clear: both;
  }

  .video-playlist-item {
    padding: 12px 15px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.3s;

    h2 {
      font-size: 12px;
      font-weight: normal;
      line-height: 17px;
    }
  }

  .video-paused-icon,
  .video-play-icon,
  .video-number {
    float: left;
    width: 20px;
    text-align: left;
    line-height: 46px;
    font-size: 11px;
    color: #ccc;
  }
}

// CardThree-R---------------------------------------------------------

@media (min-width: 992px) {
  .sidebar-right {
    .sidebar-right {
      .main-content {
        padding-right: 3px;
      }
    }
  }
}

.sidebar-right {
  .main-content {
    float: left;
  }

  .sidebar {
    float: right;
  }
}

.container-wrapper {
  background-color: rgb(22, 22, 22);
  border-color: rgba(255, 255, 255, 0.1);
}

.container-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 30px;

  .block-head-10 .mag-box-title {
    position: relative;
    margin-bottom: 0;
  }

  .mag-box-title {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    // margin-bottom: 20px;
  }
}

.mag-box-container {
  position: relative;
}

.mag-box {
  margin-bottom: 30px;
  clear: both;

  .show-more-button {
    margin: 25px -30px -30px;
    border-width: 1px 0 0;
  }

  .post-excerpt,
  .wp-caption .wp-caption-text,
  .entry-header .entry-sub-title {
    color: #ccc;
  }

  .post-meta {
    margin: 0 0 3px;
    color: #ccc;

    .meta-item {
      margin-right: 8px;
      display: inline-block;
    }
  }

  .posts-items {
    clear: both;
    margin: 0 -2%;

    li {
      float: left;
      width: 50%;
      margin-top: 24px;
      padding: 0 2%;

      .post-title {
        font-size: 20px;
        padding-left: 0;

        a {
          color: #fff;

          &:hover {
            text-decoration: none;
            color: #08f;
          }
        }
      }

      .post-thumb {
        margin-right: 0;
        float: none !important;
        margin-bottom: 10px;

        .post-cat-wrap {
          position: absolute;
          bottom: 10px;
          margin: 0;
          right: 10px;
        }
      }
    }
  }
}

.tie-alignright {
  float: right;
}

.hot {
  color: #f3502a;
}

.post-cat {
  display: inline-block;
  background: #08f;
  color: #fff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 1.85em;
  margin-right: 4px;
  position: relative;
  white-space: nowrap;
  word-wrap: normal;
  letter-spacing: 0;
  transition: 0.3s;
  border-radius: 2px;

  &:first-child:last-child {
    margin: 0;
  }

  &:hover {
    background-color: #00adef;
    color: #ffffff;
  }
}

.big-posts-box {
  .posts-items {
    li {
      .post-details {
        padding-left: 0;
      }
    }
  }
}

.big-posts-box .posts-items li:nth-child(2n + 1) {
  clear: left;
}

.mag-box .posts-items li:nth-child(1),
.mini-posts-box .posts-items li:nth-child(2),
.big-post-left-box .posts-items li:nth-child(2),
.big-posts-box .posts-items li:nth-child(2) {
  margin-top: 0;
}

.post-thumb-overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.is-thumb-overlay-disabled {
  .media-overlay {
    .post-thumb-overlay {
      display: block;
    }
  }
}

.media-overlay {
  .post-thumb-overlay {
    background: transparent;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.is-thumb-overlay-disabled {
  .post-thumb-overlay {
    display: none;
  }
}

.post-thumb-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(35, 38, 42, 0.8);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.4s;
  opacity: 0;

  .tie-media-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    z-index: 8;
  }
}

.is-lazyload .lazy-img {
  will-change: opacity;
}

.post-thumb img {
  width: 100%;
  display: block;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
}

.more-link {
  white-space: nowrap;
  word-wrap: normal;
}

// cardPopular-L-----------------------------------------------------
.widget-title {
  .the-subtitle {
    font-size: 15px;
    min-height: 15px;
  }
}

.widget-title-icon {
  color: #ccc;
  right: 0;
  top: 1px;
  color: #b9bec3;
  font-size: 15px;
}

.posts-list-counter {
  counter-reset: post-widget-counter;

  li.widget-post-list:before {
    display: block;
    width: 30px;
    height: 30px;
    content: counter(post-widget-counter, decimal);
    counter-increment: post-widget-counter;
    position: absolute;
    z-index: 2;
    // top: 0;
    left: -15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    border: 2px solid #27292d;
    background: #08f;
    color: #fff;
    border-radius: 100%;
  }

  li.widget-post-list:nth-child(1):before {
    top: -10px;
    -webkit-transform: scale(1.35, 1.35);
    -ms-transform: scale(1.35, 1.35);
    transform: scale(1.35, 1.35);
  }

  li.widget-post-list:nth-child(2):before {
    -webkit-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }

  li.widget-post-list:nth-child(3):before {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
  }

  li.widget-post-list:nth-child(4):before {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
}

.widget-posts-list-container {
  position: relative;
}

.widget {
  li {
    &:first-child {
      padding-top: 0;
    }
  }

  .post-meta {
    // margin: 2px 0 0;
    font-size: 11px;
    line-height: 17px;
  }
}

li li.widget-post-list,
.recent-comments-widget li {
  padding: 7px 0;
  position: relative;
}

.widget {
  li {
    padding: 6px 0;

    &::after {
      clear: both;
      display: table;
      content: "";
    }
  }
}

.post-widget-thumbnail {
  float: left;
  margin-right: 15px;
  position: relative;


  img.tie-small-image,
  .review-thumbnail img.tie-small-image {
    width: 110px;
  }

  @media (max-width: 960px) {

    img.tie-small-image,
    .review-thumbnail img.tie-small-image {
      width: 75px;
    }
  }
}

.post-widget-body {
  padding-left: 125px;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #08f;
    }
  }

  .post-title {
    // font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.post-meta {
  margin: 0 0 4px;
  font-size: 12px;
  overflow: hidden;

  .meta-item {
    margin-right: 8px;
    display: inline-block;
  }
}

// titelherd cardvideo

.has-block-head-4 {
  position: relative;
  opacity: 0.99;
  display: inline-block !important;
  width: auto;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
}

// card- 5 - video

.tie-parallax {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;
}

.has-background {
  .section-item {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

#jarallax-container-0 {
  clip: rect(0 1230px 494px 0);
  clip: rect(0, 1230px, 494px, 0);
}

// cardBottom

@media (min-width: 670px) {
  .full-width .big-posts-box .posts-items li:nth-child(3n + 1) {
    clear: left;
  }
}

@media (min-width: 670px) {
  .full-width .big-posts-box .posts-items li:nth-child(2n + 1) {
    clear: none;
  }
}

@media (min-width: 670px) {
  .full-width .big-posts-box .posts-items li:nth-child(-n + 3) {
    margin-top: 0;
  }
}

// three box
@media (min-width: 670px) {
  .full-width .big-posts-box .posts-items li {
    width: calc(100% / 3);
    padding: 0 1.35%;
  }
}

// one box
@media (max-width: 669px) {
  .full-width .big-posts-box .posts-items li {
    width: calc(100% / 1);
    padding: 0 1.35%;
  }
}

@media (max-width: 767px) {

  .container-wrapper,
  .entry-content {
    padding: 20px 15px;
  }
}

.big-posts-box .posts-items li:nth-child(2n + 1) {
  clear: left;
}

.mag-box .posts-items li:nth-child(1),
.mini-posts-box .posts-items li:nth-child(2),
.big-post-left-box .posts-items li:nth-child(2),
.big-posts-box .posts-items li:nth-child(2) {
  margin-top: 25px;
}

.mag-box .posts-items li {
  float: left;
  width: 50%;
  margin-top: 24px;
  padding: 0 2%;
}