* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  background: #1f2024;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Oxygen-sans, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 13px;
  line-height: 21px;
}