.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  .tie-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .slider-area-inner {
    position: relative;
  }
}

@media (min-width: 576px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 1240PX;
  }
}