.posts-list-big-first .posts-list-items li:first-child,
.posts-list-bigs .posts-list-items li,
.posts-list-half-posts .posts-list-items li {
  padding-bottom: 20px;
}

.widget li:first-child {
  padding-top: 0;
}

li.widget-post-list,
.recent-comments-widget li {
  padding: 7px 0;
  position: relative;
}

.widget li {
  padding: 6px 0;
}

.posts-list-big-first li:first-child .post-widget-thumbnail,
.posts-list-bigs li .post-widget-thumbnail,
.posts-list-half-posts li .post-widget-thumbnail {
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}

.post-widget-thumbnail {
  float: left;
  margin-right: 15px;
  position: relative;
}

.post-thumb .post-cat-wrap {
  position: absolute;
  bottom: 10px;
  margin: 0;
  right: 10px;
}

.post-cat-wrap {
  position: relative;
  z-index: 3;
  pointer-events: auto;
  margin-bottom: 5px;
  font-weight: normal;
  font-family: inherit !important;
  line-height: 0;
  display: block;
}

.post-widget-body {
  padding-left: 0;
}

.sidebar {

  .container-wrapper,
  .tie-weather-widget {
    margin-bottom: 30px;
  }
}

.posts-list-half-posts li:nth-child(2n) {
  float: right;
}

.posts-list-half-posts li:nth-child(2) {
  padding-top: 0;
}

.posts-list-big-first .posts-list-items li:first-child,
.posts-list-bigs .posts-list-items li,
.posts-list-half-posts .posts-list-items li {
  padding-bottom: 20px;
}

li.widget-post-list,
.recent-comments-widget li {
  padding: 7px 0;
  position: relative;
}

.posts-list-half-posts li {
  width: 47%;
  float: left;
}

.posts-list-big-first li:first-child .post-widget-thumbnail,
.posts-list-bigs li .post-widget-thumbnail,
.posts-list-half-posts li .post-widget-thumbnail {
  width: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}

// Follow US

.widget li:first-child {
  padding-top: 0;
}

.social-statistics-widget li {
  float: left;
  width: 50%;
  margin-left: 0;
  padding: 10px 5px 0;
  border-bottom: 0;
}

.social-icons-item {
  float: right;
  margin-left: 6px;
  position: relative;
}

.social-statistics-widget {
  ul {
    overflow: hidden;
  }
}

.two-cols {
  margin-left: -5px;
  margin-right: -5px;

  li:nth-child(2n + 1) {
    clear: both;
  }
}

.two-cols:not(.fullwidth-stats-icons) li:nth-child(2) {
  padding-top: 0;
}

.counter-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.counter-icon {
  float: left;
  color: #ffffff;
  // background-color: #2c2f34;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 2px;
  transition: 0.3s;
}

.social-icons-item .facebook-social-icon span {
  color: #4080ff;
}

.social-statistics-widget .followers {
  float: left;
  margin-left: 10px;
  line-height: 15px;
}

.social-statistics-widget .followers {
  .followers-name {
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    word-wrap: normal;
  }
}


.white-bg .social-icons-item a span.followers span {
  color: #ccc;
}

.social-statistics-widget .followers .followers-name {
  opacity: 0.8;
}